*{
    margin: 0;
    padding: 0;
}


.top-account {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .top-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      padding: 50px;

      .btn {
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: end;

        p {
          text-align: center;
          margin-top: 10px;
        }

        i {
          font-size: 20px;
        }

        .buyBtn {
          background: #002f34;
          color: #fff;
          padding: 10px 30px;
          border-radius: 5px;
          // transition: all 0.2s linear;
        }

        .buyBtn:hover {
          background-color: white;
          color: #002f34;
          box-shadow: inset 0 0 0 3px black;
        }

        .payBtn {
          padding: 10px 30px;
          border: 2px solid #002f34;
          border-radius: 5px;
          background: #fff;
          color: #002f34;
          font-size: 14px;
          font-weight: bold;

        }

        .payBtn:hover {
          background-color: white;
          color: #002f34;
          box-shadow: inset 0 0 0 3px black;
        }
      }
    }

    nav {
      display: block;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        list-style-type: none;
        padding: 20px 0;

        li {
          cursor: pointer;

          a {
            text-decoration: none;
            color: gray;
          }

          .active {
            border-bottom: 2px solid black;
            padding: 20px;

            & {
              color: #002f34;
              background-color: white;
            }
          }

          &:hover {
            background-color: #002f34;
            color: rgb(4, 4, 4);
          }
        }
      }
    }
  } 

.Message{
    margin-top: 300px ;
    max-width: 1238px;
    max-width: calc(-64px + 100vw);
    height: calc(-58px + 100vh);
    min-height: 512px;
    display: flex;
    max-height: 1152px;

    .sell_and_buy{
        margin-right: 20px;
    min-width: 412px;
    width: 412px;
    padding: 10px 16px;
    background-color: rgb(250, 251, 251);
    .navbar_s_a_b{
        display: flex;
        margin-left: 50%;
        .link{
            text-decoration: none;
            color: rgb(0, 47, 52) !important;
            margin: 2px;
            div{
                display: flex;
                .l_i{
                    margin: 5px 5px;
                }
                
            }
        }
    }
    .s_a_b{
        .btn_buy{
            color: black;
            background-color: aqua;
            border: none;
            border-radius: 5px;
            padding: 6px 16px;
        }.btn_buy:active{
            color: black;
            background-color: aqua;
            border: none;
            border-radius: 5px;
        }
        .btn_sell{
            color: black;
            margin-left: 10px;
            background-color: white;
            border: none;
            border-radius: 5px;
            padding: 6px 16px; 
        }.btn_sell:active{
            color: black;
            background-color: aqua;
            border: none;
            border-radius: 5px;
        }
    }
    .texts{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    padding-top: 24px;
    }
    .elonlar{
        text-decoration: none;
    }
    }.messages{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    }
}