.prodbody {
    background-color: #f2f4f5;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.prodbody2 {
    margin: 0 5%;

    .container {
        .links_prod {
            display: flex;

            .btn_links {
                border: none;
                background-color: #f2f4f5;

                .btn_link {
                    text-decoration: none;
                    color: #002f34;
                }
            }

            .links_ol {
                display: flex;
                margin-top: 18px;

                div {
                    color: #406367;
                }

                .links_li {
                    list-style: none;

                    .links_a {
                        // text-decoration: none;
                        margin-left: 5px;
                        margin-right: 5px;
                        color: #406367;
                        font-size: small;
                    }
                }
            }
        }
    }

    .a1 {
        display: flex;


        div {

            .boxs {
                padding: 20px;
                width: 316px;
                height: 305px;
                background-color: #fff;
                border-radius: 10px;
                margin-left: 8px;

                a {
                    color: #002f34 !important;
                    text-decoration: none;
                    cursor: text;
                }

                .box_1 {
                    margin-top: 0px;
                    display: flex;
                    justify-content: space-between;

                    a {
                        color: #002f34 !important;
                        cursor: text;

                        text-decoration: none;
                    }

                    .boxs_heard {

                        color: black !important;

                    }
                }

                .sp {
                    margin-top: 20px;
                }

                .span {
                    font-size: 20px;
                }

                .boxs_btn {
                    margin-top: 10px;
                    font-size: 18px;
                    width: 268px;
                    height: 48px;
                    border-radius: 5px;
                    background-color: #002f34;
                    color: #fff;
                }

                .boxs_btn:hover {
                    font-size: 18px;
                    border: 5px solid #002f34;
                    background-color: #fff;
                    color: #002f34;
                }


                .boxs_btn2 {
                    margin-top: 10px;
                    font-size: 18px;
                    width: 268px;
                    height: 48px;
                    border-radius: 5px;
                    background-color: #fff;
                    color: #002f34;
                }

                .boxs_btn2:hover {
                    font-size: 18px;
                    border: 8px solid #002f34;
                    background-color: #fff;
                    color: #002f34;
                }
            }

            .box2 {
                padding: 20px;
                width: 316px;
                height: 191px;
                background-color: #fff;
                border-radius: 10px;
                margin-left: 8px;
                // overflow: hidden;
                margin-top: 15px;

                .profil_link {
                    margin-top: 15px;
                    display: flex;
                    margin-bottom: 10px;
                    width: 516px;

                    img {
                        overflow: hidden;
                        margin-top: 15px;
                        width: 47px;
                        height: 47px;
                        border-radius: 50%;
                        margin-right: 20px;
                    }

                    .profil_link_date {
                        display: flexs;
                        align-items: center;
                        justify-content: center;

                        a {
                            color: #002f34 !important;
                            text-decoration: none;
                        }
                    }


                }

                .profil_link_span_a {

                    margin-left: 20px;

                    a {
                        text-decoration: none;
                        color: #002f34 !important;
                    }
                }
            }

            .box3 {
                padding: 20px;
                width: 316px;
                height: 191px;
                background-color: #fff;
                border-radius: 10px;
                margin-left: 8px;
                // overflow: hidden;
                margin-top: 15px;

                .location {
                    font-size: 20px;
                    padding-bottom: 10px;
                }

                .location_div {
                    display: flex;

                    .location_div_div {
                        display: flex;
                        align-items: center;

                        width: 170px;
                        height: 142px
                    }

                    .div_img_box3 {

                        width: 145px;
                        height: 105px;
                        display: block;
                        object-fit: cover;
                        // background-color: black;
                    }
                }
            }
        }


        .a2 {
            width: 738px;
            border-radius: 5px;
            height: 720px;
            background-color: #fff;

            .advertising {
                display: flex;
                justify-content: start;
                padding: 20px;
                padding-top: 40px;

                a {
                    margin-right: 30px;
                    text-decoration: none;
                    color: #002f34;
                    margin-bottom: 10px;
                }
            }

            .tags {
                margin: 5px 10px;

                .teg_car {
                    border: 0.5px solid #002f34;
                    color: #002f34;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    cursor: default;
                }
            }

            .text_a2 {
                margin: 5px 10px;

                h3 {
                    margin-left: 5px;
                }
            }

            .line {
                border: 1px solid #002f34;
                width: 98%;
                margin-left: 20px;
            }

            .a2_futer {
                display: flex;
                // margin-left: 22px;
                justify-content: space-between;

                .a2_futer_btn {
                    background-color: #fff;
                    border: none;

                    .a2_futer_btn_link {
                        text-decoration: none;
                        color: #ff5636;
                    }
                }
            }

        }

        .a3_author_futter {
            display: flex;
            margin-top: 15px;
            margin-bottom: 20px;
            width: 738px;
            border-radius: 5px;
            background-color: #fff;
            padding: 30px;

            .author_futter_1 {
                .box2 {
                    .profil_link {
                        display: flex;

                        .link {

                            // padding: 15px;

                            // margin-left: 20px;
                            img {
                                width: 72px;
                                height: 72px;
                                border-radius: 50%;
                            }
                        }

                        .profil_link_date {
                            // padding-top: 15px;

                            .link {
                                text-decoration: none;
                                color: #002f34;
                            }
                        }
                    }
                }


            }

            // 2
            .author_futter_2 {
                .btn {
                    margin-left: 40px;
                    width: 300px;
                    height: 48px;
                    background-color: #002f34;
                    color: #fff;
                }

                .author_futter_2_2 {
                    margin-top: 20px;
                    display: flex;

                    .boll {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        width: 44px;
                        height: 44px;
                        background-color: #23e5db;
                    }

                    p {
                        margin-top: 10px;
                        margin-left: 15px;
                    }

                    .btn {
                        width: 164px;
                        height: 48px;
                        background-color: #fff;
                        color: #002f34;
                        border: 3px solid #002f34;
                    }
                }
            }
        }


        .links_ol {
            display: flex;
            list-style: none;

            .links_li {
                .links_a {
                    color: #406367 !important;
                }
            }
        }


    }

    .a2 {
        width: 972px;
        height: auto;
        background-color: #fff;
        border-radius: 5px;

        .a2_futers {
            .advertising {
                display: flex;
                justify-content: space-between;
                padding: 20px;

                .link {
                    text-decoration: none;
                    color: #406367;

                    h6 {
                        color: #406367;
                        text-decoration: none;
                    }
                }
            }

            .tags {
                width: 100%;
                padding: 20px;

                .teg_car {
                    border-radius: 5px;
                    cursor: text;
                    background-color: #fff;
                    margin: 5px;

                    a {
                        cursor: text;

                        text-decoration: none;
                        margin: 5px 0;
                        color: #002f34 !important;

                    }

                    border: 1px solid black;
                }
            }

            .text_a2 {
                margin: 10px;

                h3 {
                    margin-left: 10px;
                }

                .text_a2 {
                    a {
                        cursor: text;
                        text-decoration: none;
                        color: #002f34 !important;
                    }
                }
            }

            .line {
                width: 920px;
                margin-left: 20px;
                height: 0;
                border: 1px solid black;
            }

            .a2_futer {
                width: auto;
                margin: 20px;
                display: flex;
                justify-content: space-between;

                a {
                    cursor: text;
                    text-decoration: none;
                    color: #002f34;
                }

                .a2_futer_btn {
                    border: none;
                    background-color: #f2f4f500;

                    .a2_futer_btn_link {
                        color: #ff5636;
                    }
                }
            }
        }
    }

    .a3_author_futter {
        width: 930px;
        background-color: #fff;
        display: flex;

        .author_futter_1 {
            margin-left: 20px;
            margin-top: 20px;

            .profil_link {
                display: flex;

                .link {
                    img {

                        width: 72px;
                        height: 72px;
                    }
                }

                .profil_link_date {
                    margin-left: 20px;

                    span {
                        .link {
                            text-decoration: none;
                            color: #406367;
                        }

                        .name {
                            font-weight: 600;
                            margin: 2px;
                        }
                    }
                }
            }

        }

        .author_futter_2 {
            // display: flex;
            margin: 25px;
            margin-left: 180px;


            .btn {
                width: 400px;
                height: 48px;
                background-color: #406367;
                border-radius: 3px;
                color: #fff;
            }

            .btn:hover {
                width: 399px;
                height: 48px;
                background-color: #fff;
                border: 1px solid #406367;
                color: #406367;
            }

            .author_futter_2_2 {
                margin: 10px;
                margin-left: 20px;
                display: flex;

                .boll {
                    width: 44px;
                    height: 44px;
                    background-color: #23e5db;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                p {
                    margin: 10px;
                }

                .btn2 {
                    width: 165px;
                    height: 49px;
                    background-color: #fff;
                    border: 2px solid #406367;
                    border-radius: 10px;
                    color: #406367;
                }

                .btn2:hover {
                    width: 164px;
                    height: 48px;
                    background-color: #406367;
                    color: #fff;
                }
            }
        }
    }
}


@media (max-width: 490px) {
    *{
        margin: 0;
        padding: 0;
    }
    .links_prod {
        display: none;
    }

    // .Search{
    //     display: none;
    // }
    // .carousel{
    //     display: flex;
    // }
}