.Search_Com{
    display: flex;
    width: 1077px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 250px;
    .search{
        width: 472px;
        height: 72px;
        border: none;
        padding: 10px;
        box-shadow: 0 0 5px #b6b6b6d0;
        outline: none;
    }.search:focus{
        border-bottom: 2px solid #002f34;
    }
    .location{
        margin: 0 2px 0 2px;
        width: 450px;
        padding: 10px;
        height: 72px;
        border: none;
        box-shadow: 0 0 5px #b6b6b6d0;
        outline: none;
    }.location:focus{
        border-bottom: 2px solid #002f34;
    }
    .Search_btn{
        font-size: 18px;
        width: 151px;
        height: 72px;
        background-color: #002f34;
        color: #fff;
    }.Search_btn:hover{
        font-size: 18px;
        width: 151px;
        height: 72px;
        border: 5px solid #002f34 ;
        background-color: #fff;
        color: #002f34;
    }
}