.Search_Com{
    width: auto;
    height: 90px;
    margin-top: 300px;
    margin-left: 20%;
    .search{
        width: 452px;
        height: 72px;
        border: none;
        box-shadow: 0 0 5px #b6b6b6d0;
        outline: none;
    }.search:focus{
        border-bottom: 2px solid #002f34;
    }
    .location{
        margin: 0 2px 0 2px;
        width: 376px;
        height: 72px;
        border: none;
        box-shadow: 0 0 5px #b6b6b6d0;
        outline: none;
    }.location:focus{
        border-bottom: 2px solid #002f34;
    }
    .Search_btn{
        width: 151px;
        height: 72px;
        background-color: #002f34;
        color: #fff;
    }
}