.bg {
  height: auto;
  background-color: #f2f4f5 !important;

  .active {
    background-color: #ceddff;
  }
  .Prod {
    margin-top: 75px;
    margin-bottom: 30px;

    section {
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 32px;
    }

    .prod_title {
      padding: 35px;
      h2 {
        margin-left: -55px;
        align-items: start;
        font-family: inherit;
        font-weight: 700;
      }
    }

    .select {
      h4 {
        color: rgb(0, 47, 52);
        font-family: inherit;
        text-decoration: none;
        font-size: 23px;
        line-height: 22px;
        margin: 0px 0px 16px;
        font-weight: 600;
      }
      label {
        margin: 0px;
        padding: 0px 0px 8px;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        color: rgb(0, 47, 52);
      }
      input {
        // display: flex;
        background-clip: padding-box;
        background-color: rgb(242, 244, 245);
        border: 2px solid rgb(242, 244, 245);
        border-radius: 4px;
        color: rgb(0, 47, 52);
        font-family: Geomanist;
        font-size: 16px;
        line-height: 20px;
        outline: none;
        padding: 16px 48px 16px 16px;
        resize: none;
        width: 70%;
      }
      .least {
        margin-top: 40px;
        display: flex;
        width: 70%;
        p {
          font-size: 14px;
          color: rgb(64, 99, 103);
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          width: 100%;
          margin-top: auto;
          padding-top: 2px;
        }
      }
      .rukn {
        margin-top: 14px;
        margin-bottom: 8px;
        font-size: 14px;
        color: rgb(0, 47, 52);
      }
      .add__btn {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 30%;
        // background: rgb(242, 244, 245);
        border: 2px solid rgb(242, 244, 245);
        border-radius: 4px;
        padding: 14px 16px;
        .choose_btn {
          display: inline-block;
          h5 {
          }
          p {
            font-family: inherit;
            font-weight: 400;
            text-decoration: none;
            font-size: 15px;
            line-height: 20px;
            margin: 0px;
            color: rgb(64, 99, 103);
          }
          span {
          background-color: red !important;
          }
        }
      }

      .modal-dialog {
        padding: 20px;
        // display: flex;
        width: 1000px;
        left: -350px;
        .modal-content {
          width: 1200px;
          .modal-header {
            h1 {
              font-weight: 700;
            }
            .btn-close {
            }
          }
          .modal-body {
            padding: 20px;
            .add_search {
              width: 32%;
              background-color: rgb(242, 244, 245);
              i {
                align-items: center;
                padding-left: 30px;
                font-size: 20px;
              }
              input {
              }
            }

            .category_modal {
              display: flex;
              gap: 20px;
              .work-category {
                height: 80px;
                background-color: #ffeeea;
                width: 35%;
                .modal_texts {
                  display: flex;
                  img {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(255, 86, 54);
                  }
                }
              }
              .car-category {
                background-color: #ebf1ff;
                width: 35%;
                height: 80px;
                .modal_texts {
                  display: flex;
                  img {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(35, 229, 219);
                  }
                }
              }
              .fashion-category {
                background-color: #fffbef;
                width: 35%;
                height: 80px;
                .modal_texts {
                  display: flex;
                  img {
                    width: 50px;
                    height: 50px;
                    background-color: rgb(255, 206, 50);
                  }
                }
              }
              p {
                margin-left: 10px;
                line-height: 80px;
              }
              img {
                margin-left: 20px;
                transform: translateY(15px);
                border-radius: 50%;
              }
            }
          }
        }
      }

      .second-modal {
        .modal-content {
          .modal-header {
          }
          .modal-body {
            gap: 20px;
            display: flex;
            .modal_list {
              li {
                padding-left: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0px;
                line-height: 30px;
                width: 300px;
                height: 35px;
                list-style: none;
                padding: 25px 10px;
                border-bottom: 1px solid rgb(216, 216, 216);
                i {
                  margin-right: 5px;
                  font-size: 20px;
                }
                &:hover {
                  background-color: #ceddff;
                }
              }
            }
            .ctg_first_sct {
              height: 500px;
              overflow: auto;
              width: 360px;
            }
            .ctg_second_sct {
              height: 500px;
              overflow: auto;
              width: 360px;
            }
          }
        }
      }
    }
  }

  .img_sec {
    .images-info {
      h4 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      p {
        font-family: inherit;
        font-weight: 400;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .img-boxes {
      // display: flex;

      .row {
        display: flex;

        .first_box {
          background-color: #fffbef;
          p {
            text-align: center;
            margin-top: 30%;
            font-size: 15px;
            font-family: inherit;
            font-weight: 700;
          }
        }
      }

      label {
        background-color: #f2f4f5;
        margin: 8px;
        width: 180px;
        height: 130px;
        cursor: pointer;
        border-radius: 5px;

        i {
          font-size: 20px;
          padding-top: 55px;
          padding-left: 65px;
        }
      }
    }
  }

  .comment_sec {
    .comment_info {
      h4 {
        margin: 0px;
        padding: 0px 0px 8px;
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }
      textarea {
        background-clip: padding-box;
        background-color: rgb(242, 244, 245);
        border-width: 2px;
        border-style: solid;
        border-color: rgb(242, 244, 245) rgb(242, 244, 245) rgb(255, 86, 54);
        border-image: initial;
        border-radius: 4px;
        color: rgb(0, 47, 52);
        font-family: Geomanist;
        font-size: 16px;
        line-height: 20px;
        outline: 0px;
        padding: 16px 48px 16px 16px;
        resize: none;
        width: 62%;
        height: 240px;
      }
    }
    .comment_least {
      display: flex;
      margin-top: 40px;
      width: 70%;
      p {
        font-size: 14px;
        color: rgb(64, 99, 103);
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin-top: auto;
        padding-top: 2px;
      }
    }
  }
  .avto_exs {
    .avto_body {
      span {
        display: flex;
        .svg {
          font-weight: 500;
          line-height: 20px;
          color: rgb(0, 47, 52);
          margin-right: 5px;
          width: 10px;
          margin-bottom: 3px;
        }
        h4 {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: rgb(0, 47, 52);
          margin: 0px;
        }
      }

      p {
        display: block;
        font-size: 14px;
        line-height: 18px;
        color: rgb(0, 47, 52);
        margin: 0px;
        color: #1f2027;
        max-width: 250px;
      }
    }
  }
  .location {
    span {
      font-size: 14px;
      line-height: 18px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin: 0px;
      color: rgb(255, 86, 54);
    }
    .location_info {
      p {
        color: rgb(0, 47, 52);
        font-family: inherit;
        font-weight: 400;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        margin-top: 0px;
      }
      input {
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 30%;
        background-color: #f2f4f5;
        border: 2px solid rgb(242, 244, 245);
        border-radius: 4px;
        padding: 14px 16px;
        margin-bottom: 5px;
      }
    }
  }
  .inf_section {
    h4 {
      color: rgb(0, 47, 52);
      font-family: inherit;
      font-weight: 700;
      text-decoration: none;
      font-size: 20px;
      line-height: 22px;
      margin: 0px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    input {
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 30%;
      background-color: #f2f4f5;
      border: 2px solid rgb(242, 244, 245);
      border-radius: 4px;
      padding: 14px 16px;
      margin-bottom: 15px;
      border: none;
    }
    .th-l {
      background-color: transparent;
      border: none;
    }
  }
}
.last_section {
  display: flex;
  align-items: center;
  justify-content: right;
  button {
    background-color: #002f34;
    color: white;
    padding: 7px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.1s linear;
    margin-top: 20px;
    display: flex;
    margin: 30px auto;
  }
  button:hover {
    background-color: white;
    color: #002f34;
    box-shadow: inset 0 0 0 2px black;
  }
}

.rights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  a {
    border-bottom: 1px solid;
    font-weight: 700;
    font-family: inherit;
  }
}
