.scrollableDiv {
    position: fixed !important;
    top: 0;
    left: 50%;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

.navbar {
    background-color: #002f34;
    width: 100%;

    position: absolute;
    // height: ;
    top: 0;
    left: 0;


    .container {
        padding: 5px 0;

        .flex {
            width: 100%;
            height: 47px;
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            width: 71px;
            margin-left: 35px;

            img {
                width: 71px;
            }
        }

        ul {
            gap: 50px;
            width: 60%;
            display: flex;
            margin-top: 10px;
            list-style-type: none;
            justify-content: end;
            align-items: center;

            li {
                color: white;
                cursor: pointer;
                transition: all 0.2s linear;

                &:hover {
                    color: gray;
                }

                i {
                    margin-right: 10px;
                }

                button {
                    margin-right: 45px;
                    margin-left: 35px;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 10px;
                    font-size: 18px;
                    font-weight: 700;
                }

                button:hover {
                    border: 2px solid white;
                    background-color: #002f34;
                    padding: 8px 14px;
                    color: #fff;
                }
            }
        }
    }

}

@media only screen and (max-width: 490px) {
    .navbar_media {
        display: none;
    }
}