.card {
    width: 264px !important;
    height: 500px !important;
    border-radius: 10px !important;

    .card-img {
        width: 100% !important;
        height: 300px;

        .card-img-a {
            width: 100%;
            height: 300px;
            object-fit: cover !important;
            border-radius: 5px 5px 0px 0px !important;
        }
    }

    .card-body {
        width: 265px;
        height: 167px;
        display: flex;
        justify-content: space-between;

        .card-content {
            text-decoration: none;
            color: #002F34;
        }

        .location {
            overflow: hidden;
            margin: 0;

        }

        .location,
        .prise,
        .content {
            overflow: hidden;
        }
    }
}


@media (max-width: 1024px) {
    .card {
        margin-left: 30% !important;
        .card-body {
            width: 48%;

            .card_img {
                width: 100%;

                img {
                    height: 300px;
                }
            }
        }
    }
}

@media (max-width: 428px) {


    .card-body {
        max-width: 175px !important;
        max-height: 250px !important;
    }

    .card-content {
        margin: -4px !important;
    }

    .content {
        max-width: 70% !important;
        max-height: 24px !important;
        overflow: hidden !important;
    }

    .card_img {
        overflow: hidden !important;
        width: 150% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .card-img-a {
        max-width: 175px !important;
    }

    .prise {
        margin: 0;
        padding: 0;
    }


    .location {
        max-width: 175px !important;
        height: 24px !important;
        overflow: hidden !important;
        margin: -1px !important;
        padding: 0;
    }

    .card {
        width: 175px !important;
        height: 290px !important;
        margin-left: 18% !important;
        margin-bottom: 20px !important;

        .card-img {
            img {
                height: 150px !important;
                margin: 0px !important;
            }
        }

        .card-body {
            padding: 5px;
        }
    }
}